<a [href]="'/' + navState" mat-icon-button color="warn">
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</a>
<h1 style="text-align: center;">Profile Screen</h1>

<div class="container-fluid d-flex justify-content-center">
  <div class="col-lg-6">
    <ngb-carousel [interval]="2000">
      <ng-template ngbSlide *ngFor="let data of profileList">

        <div class="card_parts">
          <div class="card">
            <img src="{{data?.img}}" alt="image" class="custum_imgS">

            <div class="card-body">
              <p class="fw-bold">{{data?.name}}</p>
              <p>{{data?.description}}</p>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-carousel>
  </div>
