<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <button mat-icon-button (click)="goToGestureScreen()" routerLink ="/gesture">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
        <swiper [slidesPerView]="2" [centeredSlides]="true" [pagination]="{ clickable: true }"
        class="mySwiper">
        <ng-template swiperSlide class="swiper-Container" *ngFor="let data of profileList">
            <div>
                <div class="card ">
                    <img [src]="data?.img" class="img-fluid custum_imgS card-img-top" alt="image" (click)="goToProfileDetails(data)">
                    <div class="card-body">
                        <p class="fw-bold">{{data?.name}}</p>
                        <p (click)="goToProfileDetails(data)">{{data?.description}}</p>
                        <div>
                            <button class="btn btn-custum me-md-2" (click)="removeProfile(data)">Yes</button>
                            <button class="btn btn-custum2" (click)="removeProfile(data)">No</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </ng-template>
        </swiper>
    
</div>